@model  RNDSystems.Models.TestViewModels.TensionViewModel
@{
    ViewBag.Title = "TensionReportsList";
}

<div class="panel-heading">R&D Reports: Tension</div>
<div class="panel-body">
    <div id="searchDiv" class="container">
        <div class="col-md-3 pull-right">
            <button id="btnBack" onclick="window.history.back();" class="btn btn-primary btn-large"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="WorkStudyID" class="cols-sm-2 control-label">R&D Study Number</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                            <input type="text" value="@Model.WorkStudyID" id="WorkStudyID" name="WorkStudyID" class="form-control" placeholder="Enter WorkStudy ID" />
                            <input type="hidden" name="WorkStudyID" id="WorkStudyID" value="@Model.WorkStudyID" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Alloy" class="cols-sm-2 control-label">Alloy</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>                          
                            <input type="text" name="Alloy" id="Alloy" value="@Model.Alloy"  placeholder="Enter Alloy"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Temper" class="cols-sm-2 control-label">Temper</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" name="Temper" id="Temper" value="@Model.Temper" placeholder="Enter Temper" />
                        </div>
                    </div>
                </div>>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="UACPart" class="cols-sm-2 control-label">UACPart</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" name="UACPart" id="UACPart" value="@Model.UACPart" placeholder="Enter UACPart" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CustPart" class="cols-sm-2 control-label">CustPart</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" name="CustPart" id="CustPart" value="@Model.CustPart" placeholder="Enter CustPart" />
                        </div>
                    </div>
                </div>>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="cols-sm-2 control-label"></label>
                    <div class="cols-sm-10">
                        <button id="btnSearch" class="btn btn-primary btn-large"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                        &nbsp;&nbsp;&nbsp;
                        <button id="btnClear" class="btn btn-primary btn-large"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{Html.RenderPartial("_Repeater", "TensionReportsRepeater");}
</div>



@section scripts{
    @Scripts.Render("~/bundles/TensionReports")
    <script>
    $(document).ready(function () {
        LoadGrid("TensionReportsRepeater");
    });
    </script>
}
