@model RNDSystems.Models.ViewModels.OptionsViewModel
@{
    ViewBag.Title = "LocationOption";
}
@*<h2>
    <label for="" name="hdLocation" id="hdLocation" class="cols-sm-2 control-label bg-primary text-uppercase">Add New Location</label>   
</h2>*@

@*<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="lblLocation" class="cols-sm-2 control-label">Locations</label>
            <div class="cols-sm-10">
                @Html.DropDownList("ddLocationList", ViewBag.ddLocationList as IEnumerable<SelectListItem>, new { @class = "show-tick", data_size = "6" })
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="form-group">
        <label for="lblPlantDesc" class="cols-sm-2 control-label">Plant Desciption</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                <input type="text" value="@Model.PlantDesc" id="PlantDesc" name="PlantDesc" class="form-control" placeholder="Enter Plant Desciption" />
               @* <input type="hidden" name="PlantDesc" id="PlantDesc" value="@Model.PlantDesc" />*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label for="lblPlantState" class="cols-sm-2 control-label">Plant State</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                <input type="text" value="@Model.PlantState" id="PlantState" name="PlantState" class="form-control" placeholder="Enter Plant State" />
                @* <input type="hidden" name="PlantState" id="PlantState" value="@Model.PlantState" />*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label for="lblPlantType" class="cols-sm-2 control-label">Plant Type</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-text-width" aria-hidden="true"></i></span>
                <input type="text" value="@Model.PlantType" id="PlantType" name="PlantType" class="form-control" placeholder="Enter Plant Type" />
                @* <input type="hidden" name="PlantType" id="PlantType" value="@Model.PlantType" />*@
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <button type="submit" class="button btn btn-success" id="btnLocationSave">Save</button>
        </div>
    </div>
</div>*@

